html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

label {
    margin: 0;
}

.wrapper {
    width: 100%;
    height: 100%;
    border: none;
}

.card-body {
    padding: 0.5rem;
}

.table {
    margin-bottom: 0;
}

.letter-space {
    letter-spacing: 1px;
}

/*------------地图页面------------------*/
.mapWrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    border: none;
}



/*------------选择框页面------------------*/
.selectWrapper{
    width: 600px;
    position: absolute;
    top: 2%;
    left: 1%;
}

.searchButton {
    padding: 0;
    margin-left: 30px;
    display: inline-block;
    width: 80px;
    vertical-align: middle;
    overflow: hidden;
    color: #dcdcdc;
    font-weight: 600;
    background: rgba(25, 38, 52, 0.8);
    border: 1px solid;
    border-color: #1b1b1b;
}

.searchButton:hover {
    background-color: #fff;
    color: #3f51b5;
    border-color: #fff;
}


/*------------图层切换页面------------------*/
.layerWrapper{
    width: 10%;
    position: absolute;
    top: 10%;
    left: 1%;
    background-color: rgba(25, 38, 52, 0.8);
    color: #dcdcdc;
    border: 1px solid;
    border-color: #1b1b1b;
    padding: 10px;
}

.layerWrapper-boundary {
    margin: auto;
    width: 90%;
}
.layerWrapper-check {
    margin: 8px auto;
}
.layerWrapper-check-label {
    margin-left: 10px;
}


/*------------线路调整结果页面------------------*/
.lineResultWrapper{
    width: 17.5%;
    position: absolute;
    top:3%;
    right: 1%;
    margin: 0;

}

/*------------线路调整结果页面------------------*/

.autocomplete-suggestions {
    background-color: white;
}


/*------------加载等待框------------*/
.waitWrapper-backgroud {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(96,96,96, 0.2);
}

.waitWrapper {
    position: absolute;
    left: calc((100% - 200px)/2);
    top: calc((100% - 180px)/2);
    width: 200px;
    height: 90px;
    z-index: 199;
    text-align: center;
    /*display: none;*/
}
.waitWrapper-title {
    font-size: 1rem;
    font-weight: bold;
    color: #999;
    margin-bottom: 1rem;
}

/*等待动画*/
.lds-facebook {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 8px;
    background: #999;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
}
@keyframes lds-facebook {
    0% {
        top: 6px;
        height: 51px;
    }
    50%, 100% {
        top: 19px;
        height: 26px;
    }
}
