html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

label {
    margin: 0;
}

.wrapper {
    width: 100%;
    height: 100%;
    border: none;
}

.card-body {
    padding: 0.5rem;
}

.table {
    margin-bottom: 0;
}

.letter-space {
    letter-spacing: 1px;
}

/*------------bootstrap------------------*/

.input-group-text {
    border-radius: 0 !important;
}

/*------------地图页面------------------*/
.mapWrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    border: none;
}

/*------------选择框页面------------------*/
.selectWrapper {
    width: 600px;
    position: absolute;
    top: 4%;
    left: 1%;
}

.input-text {
    color: #dcdcdc;
    background: rgba(25, 38, 52, 0.8);
    border: 1px solid;
    border-color: #1b1b1b;
    font-weight: 600;
}

.searchButton {
    padding: 0;
    margin-left: 30px;
    display: inline-block;
    width: 80px;
    vertical-align: middle;
    overflow: hidden;
    color: #dcdcdc;
    font-weight: 600;
    background: rgba(25, 38, 52, 0.8);
    border: 1px solid;
    border-color: #1b1b1b;
}

.searchButton:hover {
    background-color: #fff;
    color: #17212e;
    border-color: #fff;
}

/*------------选择提示框页面------------------*/
.popupWrapper {
    width: 350px;
    height: 130px;
    position: absolute;
    left: calc((100% - 350px) / 2);
    top: calc((100% - 300px) / 2);
    background: rgba(25, 38, 52, 0.8);
    border: 1px solid;
    border-color: #1b1b1b;
    color: #f8f9fa;
    display: none;
}

.popupWrapper-container-header {
    height: 50px;
    padding: 15px 20px;
    vertical-align: center;
    background: rgb(25, 38, 52);
    font-weight: 600;

}

.popupWrapper-container-header span {
    height: 20px;
}

.popupWrapper-header-close {
    width: 32px;
    height: 32px;
    display: block;
    float: right;
    color: #f8f9fa;
    margin-right: -20px;
}

.popupWrapper-header-close:hover {
    color: #d95159;
}

.popupWrapper-container-content {
    height: 80px;
    padding: 30px 20px;
    background: #f8f9fa;
    color: #0f0f0f;
    text-align: center;
}

.popupWrapper-container-content span {
    height: 20px;
}

/*------------图层切换页面------------------*/
.layerWrapper {
    width: 11%;
    position: absolute;
    top: 10%;
    left: 1%;
    background-color: rgba(25, 38, 52, 0.8);
    color: #dcdcdc;
    border: 1px solid;
    border-color: #1b1b1b;
    padding: 10px;
}

.layerWrapper-boundary {
    margin: auto;
    width: 90%;
}

.layerWrapper-check {
    margin: 8px auto;
}

.layerWrapper-check-label {
    margin-left: 10px;
}

/*------------图表页面------------------*/
.chartWrapper {
    position: absolute;
    bottom: 4%;
    right: 1%;
    height: 120px;
    width: 80%;
    background-color: rgba(96, 96, 96, 0.2);
    display: none;
}

/*------------线路调整结果页面------------------*/
.lineResultWrapper {
    width: 17.5%;
    position: absolute;
    top: 10%;
    right: 1%;
    margin: 0;
}

/*------------线路调整结果页面------------------*/

.autocomplete-suggestions {
    background-color: white;
}

/*-------------图例页面-----------------*/
.legendWrapper {
    width: 320px;
    left: 20px;
    bottom: 20px;
    position: absolute;
    background-color: rgba(25, 38, 52, 0.8);
    border: 1px solid;
    border-color: #1b1b1b;
    z-index: 199;
}

.legendWrapper-boundary {
    margin: 16px;
}

.legendWrapper-title {
    color: white;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: 600;
}

.legendWrapper-list {
    color: white;
    height: 30px;
    line-height: 30px;
    width: 100%;
}

.legendWrapper-list span {
    width: 100px;
    font-size: small;
}

.legendWrapper-list-icon {
    margin: auto;
    width: 80%;
    height: 30px;
    line-height: 30px;
}

.legend-icon {
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin: auto 50px auto 30px;
}

.legend-line {
    width: 60px;
    height: 15px;
    margin: auto 32px 16px;
    display: inline-block;
}

.legend-lineA {
    color: #34a4ff;
}

.legend-lineB {
    color: #e95db5;
}

.legend-lineC {
    color: #25A982;
}

.legend-lineD {
    color: #E2AF32;
}

.legend-lineE {
    color: #d95159;
}

.legend-lineF {
    color: #F2E5E7;
}

/*------------加载等待框------------*/
.waitWrapper-backgroud {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(96, 96, 96, 0.2);
}

.waitWrapper {
    position: absolute;
    left: calc((100% - 200px) / 2);
    top: calc((100% - 180px) / 2);
    width: 200px;
    height: 90px;
    z-index: 199;
    text-align: center;
    /*display: none;*/
}

.waitWrapper-title {
    font-size: 1rem;
    font-weight: bold;
    color: #999;
    margin-bottom: 1rem;
}

/*------------地图弹出框------------*/
.minemap-popup-content {
    border-radius: 0;
    overflow: visible;
    max-width: 300px;

}

.popup-station-type {
    display: inline-block;
    margin-right: 4px;
    padding: 4px 8px;
    /*border-radius: 5px;*/
    border: 1px solid #fff;
    color: #fff;
    font-weight: 700;
    flex-shrink: 0;
}

.popup-station-normal {
    background-color: #3E4756;
}

.popup-station-add {
    background-color: #34A4FF;
}

.popup-station-remove {
    background-color: #00BCA8;
}

.popup-station-pass {
    background-color: #F97A48;
}

.popup-station-header {
    margin-left: 8px;
    margin-right: 8px;
    font-size: 0.8rem;
    font-weight: bold;
}

.popup-station-info {
    display: block;
    margin-top: 0.5rem;
}

/*等待动画*/
.lds-facebook {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 8px;
    background: #999;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 6px;
        height: 51px;
    }
    50%, 100% {
        top: 19px;
        height: 26px;
    }
}
